
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.border {
    background: url(../assets/Generic\ Food\ img\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

header > .border {
    width: 90vw;
    height: 90vh;
    border: 5px solid black;
    box-shadow: 10px 10px #ffc72c;
    border-radius: 5px;
    background-color: #cf4020;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* -------NAVBAR------- */
.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3vh;
    left: 4%;
    width: 90%;
    border-bottom: 5px solid black;
}

.menu img {
    width: 50px;
    height: 50px;
}

.user {
    background: url(../assets/user_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

/* ------MIDSECTION------ */
.explore {
    display: flex;
    flex-direction: column;
}
.search {
    width: 80vw;
    height: 10vh;
    border: 5px solid black;
    padding: 20px;
    box-shadow: 10px 10px #ffc72c;
    border-radius: 5px;
    margin: 30px;
}

.search::placeholder {
    color: black;
}

.filters > form {
    width: 20vw;
    margin-left: 2vw; /* --media query-- */
    display: flex;
    flex-direction: column;
}

.filters select {
    height: 30px;
    border-radius: 5px;
    margin-block: 10px;
    border: 3px solid black;
}

/* --------- Resto List ------ */

.container {
    width: 90vw;
    height: 90vh;
    border: 5px solid black;
    box-shadow: 10px 10px #ffc72c;
    border-radius: 5px;
    background-color: #cf4020;
    margin: auto;
}

.filterby {
    margin: 10px;
    border: 3px solid black;
    box-shadow:5px 5px #ffc72c;
    background-color: white;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.restolist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid black;
    margin-left: 15px;
    height: 90%;
    width: 97%;
    background-color: #868686;
    border-radius: 5px;
}

.restaurant_icon {
    height: 30vh;
    width: 30vw;
    border: 5px solid black;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffc72c;
    position: relative;
}

#restaurant_name{
    position: absolute;
    bottom: 10px;
    left:10px;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 0 5px;
}

#restaurant_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}








/* ---------- MEDIA QUERIE --------- */
@media screen and (max-width:400px) {
    .filters > form {
        margin-left: 10vw;
        width: 50vw;
    }

    .restolist {
        width: 90%; 
    }
    .container {
        height: auto;
    }
}
